body{
	margin:0px;
	background:linear-gradient(blue,#0080FF,#66B2FF);
	hsl:(195, 60%, 90%);

}

.admin{
  margin-bottom:30px;
  margin-top:30px;	
  margin-left:300px;
  border-collapse:collapse;
  float:left;
}
.butoncss{
	height:40px;
	width:80px;
    background-color:white;
    font-weight:bold;	
	border:2px solid blue;
	margin-left:30px;
    margin-top:50px;
}

.yazi{
	font-size:15px;
	font-weight:bold;
	text-align:justify;
}
.resimcss{
	 width:100px; 
	 height:130px;
	 
	
}